@use 'src/styles/vars';

.familyPage {
  margin-left: vars.$content-margin-left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: vars.$white-color;
  height: 100%;
  // background-image: vars.$background-image;

  &-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2rem 0 5rem;
  padding-bottom: 10rem;
  }
}

  .loading {
    display: flex;
    font-size: 3rem;
    color: lightgrey;
    margin: 20%;
    height: 100vh;
  }



