@use 'src/styles/vars';

.family-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin-left: 15%;

    &-titre {
    color: vars.$main-color;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 3rem;
    margin-top: 5rem;
  }

  &-container {
    width: 90%;
    border: none;
    border-radius:45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    margin-bottom: 3rem;

    &-title {
      color: vars.$main-color;
      font-size: 2rem;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 4rem;
    }
  }
}



