@use 'src/styles/vars';

.stories {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 275px;

  &-feed {
    margin: 1rem;
    display: flex;
    flex-flow: row wrap;
  }

}
