@use 'src/styles/vars';

.stories {

  margin-left: vars.$content-margin-left;
  background-color: vars.$white-color;
  height: 100vh;

  &-feed {
    margin: 2em 3em;
  }

  &-loading {
    text-align: center;
    margin-top: 20rem;
    font-family: vars.$font-coucou;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

}

.center-addStoryForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
