@use 'src/styles/vars';

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    &-titre {
    color: vars.$main-color;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  &-container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &-img {
      margin-right: 2rem;
      max-width: 100px;
    }
  
  }

  
}



