@use 'src/styles/vars';

.textarea {
  width: 100%;
}

.indexloginform {
  &-textarea {
    width: 100%;
    resize: vertical;
    padding: 1rem 2rem;
    font-size: 1em;
    font-family: vars.$font-text;
    border: 1px solid vars.$border-color;
    border-radius: 45px;
    height: 10em;
    background-color: rgba(255, 255, 255, 0.829);
      min-height: 200px;

  }
}
