// FONT
$font-coucou: 'Dancing Script', cursive;
$font-button: 'Roboto', sans-serif;

// COLORS
$border-color: #cacaca46;
$white-color: rgb(255, 255, 255);
$lightblack-color: #333;
$grey-color: #666;
$lightgrey-color: #888;
$main-color: #ffb731c7;
$welcome-background-color: #ffa600e0;
$font-color: #ffa600;

// MEASUREMENTS
$content-margin-left: 250px;
