@use 'src/styles/vars';

.familyNameTitle {
  font-family: vars.$font-text;
  font-weight: 200;
  font-size: 3.2rem;
  padding: 3rem 0 2rem;
  text-align: center;
  text-shadow: 0 2px 200px rgba(184, 184, 184, 0.173), 0 -1px 01px rgba(181, 181, 181, 0.735), 0 3px 220px rgba(222, 222, 222);
  color: rgba(242, 242, 242, 0.961);
}

@media screen and (max-width: 768px) {
.familyNameTitle {
  padding: 100px 0 0;
}
}
