@use 'src/styles/vars';

.faq-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-left: 15%;

    &-titre {
    color: vars.$main-color;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  &-text {
    max-width: 1200px;
    &-title {
      text-align: left;
      margin-bottom: 2rem;
    }

    &-content {
      margin-bottom: 2rem;
    }
  }

  &-img {
    margin-left: 2rem;
    margin-right: 0;
    max-width: 600px;
  }
}



