@use 'src/styles/vars';

.footer{
  position: fixed;
  bottom: 40px;
  padding-top: 55px;
  height: 100px;
  width: 100%;
  border-top: 1px solid vars.$border-color;
  ul{
    display: flex;
    justify-content: space-around;
    li{
      text-transform: uppercase;
      letter-spacing: 2.5px;
      color: vars.$grey-color;
      font-family: vars.$font-button;
      letter-spacing: 2.5px;
      font-weight: 500;
    }
  }
}
