@use 'src/styles/vars';

.profile-container-innerElements-form {
  width: 100%;

  &-validate-button {
    color: #666;
    margin: .5rem;
    background-color:white;
    padding: .8rem 1.5rem;
    font-family: "Roboto", "sans-serif";
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    transition: all 0.3s ease 0s;

    &:hover {
      color: vars.$main-color;
      box-shadow: 0px 8px 15px #f6b02d75;
    }
  }
}

