@use 'src/styles/vars';

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: vars.$content-margin-left;
  height: 100vh;
  background-color: vars.$white-color;
  font-family: vars.$font-text;

  &-title {
  color: rgba(136, 136, 136, 0.255);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 3rem;
  margin: 3% 0 10%;
  }


  // &-text {
  //   max-width: 1200px;

  //   &-title {
  //     text-align: center;
  //     margin: 3rem;
  //     padding-top: 3rem; 
  //   }

  //   &-form {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;

  //     &__input {

  //       border-radius: 5px;
  //       border: 1px solid grey;
  //       height: 40px;
  //       padding-left: 5px;
  //       margin-bottom: 2rem;

  //       &-label {
  //         margin-bottom: 1rem;
  //       }
  //     }

  //     &__text-area {

  //       border-radius: 5px;
  //       border: 1px solid grey;
  //       padding-left: 5px;
  //       margin-bottom: 2rem;
  //       height: 150px;

  //       &-label {
  //         margin-bottom: 1rem;
  //       }

  //     }

  //     &__input, &__button {
  //       width: 50%;
  //     }

  //     &__button {
  //       border: 1px solid vars.$main-color;
  //       border-radius: 5px;
  //       background-color: white;
  //       height: 40px;
  //       font-size: 20px;

  //       &:hover {
  //         background-color: vars.$main-color;
  //         color: white;
  //         transition: all 0.4s ease;
  //       }
  //     }

      
  //   }
  // }

  &-img {
    margin-left: 2rem;
    margin-right: 0;
    max-width: 600px;
  }

  &-faces {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    height: 400px;
    width: 100%;
  }

  &-oneface {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: vars.$grey-color;
    font-size: 1.2rem;
  }

  &-name {
    text-align: center;
    font-family: vars.$font-text;
    font-size: 2rem;
    color: vars.$grey-color;
    text-shadow: 0 1px 3px rgba(181, 181, 181, 0.851);
    font-weight: 400;
    margin: 1rem 1rem 2rem;
  }

  &-link {
    color: rgb(107, 141, 205);
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: underline;
    &-null {
      color: transparent;
    }
  }
}

.contact-picture {
  object-fit: cover;
  width: 220px;
  height: 220px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1), 0px 0px 30px rgba(0, 0, 0, 0.1);
}


