@use 'src/styles/vars';

.welcome__page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: vars.$content-margin-left;
  background-color: vars.$white-color;
  font-family: vars.$font-text;
  &__titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    align-items: center;
  }
  &__title {
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 2px 200px rgba(184, 184, 184, 0.173), 0 -1px 01px rgba(181, 181, 181, 0.735), 0 3px 220px rgba(222, 222, 222);
    color: rgba(232, 232, 232, 0.961);
    font-weight: 400;
    margin: 1rem 0.5rem 0;
      &__coucou {
        color: vars.$main-color;
        font-family: vars.$font-coucou;
        font-size: 6rem;
      }
  }

}

.form__family {
  // background-color: vars.$white-color;
  // border: 1px solid black;
  // border-radius: .5em;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 5rem;
  margin: .5rem;
  // padding: 1rem 1.2rem 2rem;
  height: auto;
  max-height: 35rem;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  border-radius: 50px;
  background-color: vars.$white-color;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);


  h2 {
    text-align: center;
    font-size: 1.2rem;
    color: vars.$grey-color;
    text-shadow: 0 1px 3px rgba(181, 181, 181, 0.851);
    font-weight: 400;
    margin: 1rem 0.5rem 2rem;
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    input {
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    font-size: 1em;
    font-family: vars.$font-text;
    border: 1px solid vars.$border-color;
    border-radius: 45px;
    height: 2.5em;
    background-color: rgba(255, 255, 255, 0.829);
    }

    button {
       margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: vars.$grey-color;
    background-color: white;
    padding: 0.8rem 1.5rem;
    font-family: vars.$font-button;
    letter-spacing: 2.5px;
    font-weight: 500;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: #fffcf7;
      box-shadow: 0px 10px 20px #f6b02d75;
    }

    &:active {
      vertical-align: top;
      padding: 0.6rem 1.3rem;
      background-color: vars.$main-color;
      color: #fff;
      box-shadow: 0px 15px 20px #f6b02d71;
      margin: 0.8rem 1.3rem 2.1rem;
    }
    }
  }
}
